# .env.example
MTU=9000
TXQLEN=10000
MAX_RUS=5
MAX_LOAD=450
ROUNDTRIPS=30
MAX_TENTATIVAS_PRE_KPI=2
DURACAO_COLETA=90
FIBER_DELAY_US_PER_KM=5.0
CPUS_TOTAL=96
MAX_FIBER_DISTANCE_KM=9.0
TIME_LIMIT_SOLVER=1800
MAX_SOLVER_THREADS=4
HOUSEKEEPING_CPUSET="0,1,48,49"
RU1_DL_ARFCN=625000
RU2_DL_ARFCN=632628
RU3_DL_ARFCN=637212
RU4_DL_ARFCN=640000
RU5_DL_ARFCN=650000
OUT_DIR="./ICARUS/OUT"
ANATEL_DATA_DIR="./ICARUS/ANATEL"
Filename="50409307637_1500800_1"
