# .env.example
VCENTER_PASSWORD="coloque_a_senha_aqui"
VCENTER_IP="10.8.x.x"
VCENTER_USER="user@vcenter.net"
VCENTER_VM="ICARUS"
MTU=9000
TXQLEN=10000
MAX_RUS=5
VCPUS_TOTAL=48
RU1_DL_ARFCN=625000
RU2_DL_ARFCN=632628
RU3_DL_ARFCN=637212
RU4_DL_ARFCN=640000
RU5_DL_ARFCN=650000
OUT_DIR="./ICARUS/OUT"
Filename="50409307637_1500800"
